*{
  box-sizing: border-box;
  padding: 0px;
}
body{
font-family: Arial, sans-serif;
justify-content: center; 
}
.container{
	overflow: right; 
	position: relative;
	  float: left;
	   margin: 20px;
    align-items: center;
}
header{
	padding-top: 20px;
	text-align: center;
	color: black ;
	font-size: 24px;
}
p{
padding: 5px ;
}
 h2{
 width: auto;
 text-align: center;
 margin-top: auto;
 margin-left: auto;
}
.row div {
	position: relative;
	color: black;
	border: 5px solid white;
background-color: gray;
margin-top: 10px;
padding-left: 1px;
padding: 0px 0px 10px 10px;
}
.navbar {
border-radius: 0 ;
background-color: gray;
font-color:black ;
height: 50px;
padding-left: 10px;
padding: 0px 0px 10px 10px;
}
.navbar-default .navbar-brand {
    color: black;

}

.navbar p{
	text-align: left;
	font-size: 24px;

font-color: black;
}
.navbar-toggle {
    background-color: white;
    border: 2px solid transparent black;
    }

